#Header {
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}

html {
    scroll-behavior: smooth;
}

.tabcontent {
    display: none;
}

.activecontent {
    display: block;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.animate-slide-in-left {
    animation: slide-in-left 1s ease-out;
}
